<h5>View all the listings in the database here.</h5>

<p>Page {{CurrentPage}} of {{MaxPage}}</p>
<a class="button button-primary" href="/users?page=0">First page</a>
<a class="button button-primary" href="/users?page={{pageDec}}">Previous page</a>
<a class="button button-primary" href="/users?page={{pageInc}}">Next page</a>
<a class="button button-primary" href="/users?page={{MaxPage}}">Last page</a>
<table class="u-full-width sortable">
  <thead>
    <tr>
      <th>Sequence</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Age</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>CCNumber</th>
      <th>UserPanel</th>
    </tr>
  </thead>
      <tbody>
        {{#each users}}
            <tr>
                <td>{{this.Seq}}</td>
                <td>{{this.Firstname}}</td>
                <td>{{this.Lastname}}</td>
                <td>{{this.Age}}</td>
                <td>{{this.Street}}</td>
                <td>{{this.City}}</td>
                <td>{{this.State}}</td>
                <td>{{this.Latitude}}</td>
                <td>{{this.Longitude}}</td>
                <td>{{this.CCNumber}}</td>
                <td><a class="button button-primary" href="/user?id={{this._id}}">View</a></td>
            </tr>
        {{/each}}
      </tbody>
</table>