<table class="u-full-width">
  <thead>
    <tr>
      <th>Sequence</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Age</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>CCNumber</th>
    </tr>
  </thead>
      <tbody>
        {{#each users}}
            <tr>
                <td>{{this.Seq}}</td>
                <td>{{this.Firstname}}</td>
                <td>{{this.Lastname}}</td>
                <td>{{this.Age}}</td>
                <td>{{this.Street}}</td>
                <td>{{this.City}}</td>
                <td>{{this.State}}</td>
                <td>{{this.Latitude}}</td>
                <td>{{this.Longitude}}</td>
                <td>{{this.CCNumber}}</td>
            </tr>
        {{/each}}
      </tbody>
</table>