<h3>{{user.Firstname}} {{user.Lastname}}</h3>
<ul>  
     <li><b>Home:</b> {{user.Street}}, {{user.City}}, {{user.State}}</li>  
     <li><b>CCNumber:</b> {{user.CCNumber}}</li> 
     <li><b>Position:</b> {{user.Latitude}}, {{user.Longitude
     }}</li> 
</ul>  